<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:function="http://www.w3.org/1999/xhtml" xmlns:entity="http://www.w3.org/1999/xhtml" xmlns:formatteddoc="http://www.w3.org/1999/xhtml">
<head>
    <title>Qilletni Docs</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css" integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<div>
    <div class="header">
        <div class="pure-menu pure-menu-horizontal">
            <ul class="pure-menu-list">
                <li class="pure-menu-item pure-menu-selected">
                    <a href="#" class="pure-menu-link">Overview</a>
                </li>
                <li class="pure-menu-item">
                    <a th:attr="href=${'/library/' + libraryName + '/index.html'}" class="pure-menu-link">Library</a>
                </li>
                <li class="pure-menu-item">
                    <a href="#" class="pure-menu-link">Entity</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="pure-g content-container">
        <div class="pure-u-23-24 colored">
            <h2 class="library-title">Library spotify</h2>
            <span class="library-version">v0.0.1 &#x2022;  Adam Yarris</span>

            <div class="library-description">
                <p>
                    This is a simple library and service provider that allows you to manage your music collection
                    through the Spotify API.
                </p>
            </div>

            <div class="pure-g library-sections">
                <div class="pure-u-1-2">
                    <div class="category-column">

                        <!-- Should link to separate pages for each entity -->
                        <div class="l-box library-category">
                            <h3 class="content-subhead">Entities</h3>
                            <div class="category-list">
                                <table>
                                    <tr th:each="documentedEntity : ${entityDocs}">
                                        <td>
                                            <a entity:link="${documentedEntity.itemBeingDocumented()}" th:text="${documentedEntity.itemBeingDocumented().name()}">-</a>
                                        </td>
                                        <td>This is a description for
                                            "[(${documentedEntity.itemBeingDocumented().name()})]".
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>

                        <!-- Should link to lower on the page, where all function actual defs are -->
                        <div class="l-box library-category">
                            <h3 class="content-subhead">Global Functions</h3>
                            <div class="category-list">
                                <table>
                                    <tr th:each="documentedFunction : ${functionDocs}">
                                        <td>
                                            <a function:link="${documentedFunction.itemBeingDocumented()}" function:signature="${documentedFunction.itemBeingDocumented()}">-</a>
                                        </td>
                                        <td>This is a description for redirectToList.</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pure-u-1-2">
                    <div class="category-column">
                        <div class="l-box library-category">
                            <h3 class="content-subhead">Import Aliases</h3>
                            <div class="category-list">
                                <table>
                                    <tr>
                                        <td><a href="#">spotify</a></td>
                                        <td>This is a description for spotify.</td>
                                    </tr>
                                    <tr>
                                        <td><a href="#">spotify.builder</a></td>
                                        <td>This is a description for spotify.builder.</td>
                                    </tr>
                                    <tr>
                                        <td><a href="#">spotify.friends</a></td>
                                        <td>This is a description for spotify.friends.</td>
                                    </tr>
                                    <tr>
                                        <td><a href="#">audio</a></td>
                                        <td>This is a description for audio.</td>
                                    </tr>
                                </table>
                            </div>
                        </div>

                        <div class="l-box library-category">
                            <h3 class="content-subhead">On Extensions</h3>
                            <div class="category-list">
                                <table>
                                    <tr th:each="documentedFunction : ${onExtensionDocs}">
                                        <td>
                                            <a function:link="${documentedFunction.itemBeingDocumented()}" function:signature="${documentedFunction.itemBeingDocumented()}">-</a>
                                        </td>
                                        <td>This is a description for redirectToList.</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="pure-g function-definitions">
                <div class="function-doc" th:each="documentedFunction : ${functionDocs}">
                    <div class="function-signature" th:text="${documentedFunction.itemBeingDocumented().name()}"></div>

                    <div class="function-innerdoc">
                        <p class="code" function:signature="${documentedFunction.itemBeingDocumented()}"></p>
                        
                        <p formatteddoc:desc="${documentedFunction.innerDoc().description()}"></p>
                        
                        <div th:if="${!documentedFunction.innerDoc().paramDocs().isEmpty()}" class="function-param-container">
                            <span class="function-params">Params</span>

                            <p th:each="param : ${documentedFunction.innerDoc().paramDocs()}">
                                <span th:text="${param.name()}" class="param-name"></span>
                                <a th:if="${param.docFieldType() != null}" function:paramtype="${param.docFieldType()}" class="param-type"></a>
                                <span formatteddoc:desc="${param.description()}" class="param-description"></span>
                            </p>
                        </div>
                        
                        <div th:if="${documentedFunction.innerDoc().returnDoc() != null}" class="function-return-container">
                            <span class="function-params">Returns <a th:if="${documentedFunction.innerDoc().returnDoc().docFieldType() != null}" function:paramtype="${documentedFunction.innerDoc().returnDoc().docFieldType()}" class="return-type"></a></span>

                            <p formatteddoc:desc="${documentedFunction.innerDoc().returnDoc().description()}"></p>
                        </div>
                        
                        <div th:if="${documentedFunction.innerDoc().docErrors() != null}">
                            <span class="function-params">Errors</span>

                            <p formatteddoc:desc="${documentedFunction.innerDoc().docErrors().description()}"></p>
                        </div>
                        
                        <div th:if="${documentedFunction.innerDoc().docOnLine() != null}">
                            <span class="function-params">On</span>

                            <p formatteddoc:desc="${documentedFunction.innerDoc().docOnLine().description()}"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
