<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:function="http://www.w3.org/1999/xhtml"
      xmlns:entity="http://www.w3.org/1999/xhtml"
      xmlns:formatteddoc="http://www.w3.org/1999/xhtml">
<head>
    <title>Qilletni Docs</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Materialize CSS -->
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
          integrity="sha384-..."
          crossorigin="anonymous">

    <!-- Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">

    <!-- Your SCSS compiled to style.css (matching the final style) -->
    <link rel="stylesheet" href="/style.css">
</head>
<body>

<div th:replace="~{templates/fragments/nav_bar :: navBar(${libraryName}, true)}"></div>

<!-- Main container -->
<div class="container" style="margin-top: 2rem;">
    <!-- Title & Intro -->
    <div class="row title-row">
        <div class="col s12">
            <h2 class="library-title">Library <span th:text="${libraryName}"></span></h2>
            <div class="library-meta">
                <span class="library-version"><span th:text="${'v' + library.version()}"></span> &#x2022; <span th:text="${library.author()}"></span></span>
                <span>
                    <a class="library-github" target="_blank" th:href="${sourceUrl}">GitHub</a>
                    <a class="library-examples" target="_blank" th:href="${sourceUrl + '/examples'}">Examples</a>
                </span>
            </div>

            <div class="page-description">
                <p th:text="${library.description()}"></p>
            </div>
        </div>
    </div>

    <!-- Library Sections Row -->
    <div class="row library-sections">
        <!-- Entities Section -->
        <div class="card l-box library-category">
            <div class="card-content">
                <h3 class="content-subhead">Entities</h3>
                <div class="category-list">
                    <table class="highlight responsive-table">
                        <tbody>
                        <tr th:each="documentedEntity : ${entityDocs}">
                            <td>
                                <a entity:link="${documentedEntity.itemBeingDocumented()}"
                                   th:text="${documentedEntity.itemBeingDocumented().name()}" class="monospace">-</a>
                            </td>
                            <td th:text="${descriptionFormatter.getShortPlainDescription(documentedEntity.innerDoc(), 300)}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <!-- Global Functions Section -->
        <div class="card l-box library-category">
            <div class="card-content">
                <h3 class="content-subhead">Global Functions</h3>
                <div class="category-list">
                    <table class="highlight responsive-table">
                        <tbody>
                        <tr th:each="documentedFunction : ${functionDocs}">
                            <td>
                                <a function:link="${documentedFunction.itemBeingDocumented()}"
                                   function:signature="${documentedFunction.itemBeingDocumented()}" class="monospace">-</a>
                            </td>
                            <td th:text="${descriptionFormatter.getShortPlainDescription(documentedFunction.innerDoc(), 200)}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>


        <!-- Import Aliases Section -->
        <!--                <div class="card l-box library-category">-->
        <!--                    <div class="card-content">-->
        <!--                        <h3 class="content-subhead">Import Aliases</h3>-->
        <!--                        <div class="category-list">-->
        <!--                            <table class="highlight responsive-table">-->
        <!--                                <tbody>-->
        <!--                                <tr>-->
        <!--                                    <td><a href="#">spotify</a></td>-->
        <!--                                    <td>This is a description for spotify.</td>-->
        <!--                                </tr>-->
        <!--                                <tr>-->
        <!--                                    <td><a href="#">spotify.builder</a></td>-->
        <!--                                    <td>This is a description for spotify.builder.</td>-->
        <!--                                </tr>-->
        <!--                                <tr>-->
        <!--                                    <td><a href="#">spotify.friends</a></td>-->
        <!--                                    <td>This is a description for spotify.friends.</td>-->
        <!--                                </tr>-->
        <!--                                <tr>-->
        <!--                                    <td><a href="#">audio</a></td>-->
        <!--                                    <td>This is a description for audio.</td>-->
        <!--                                </tr>-->
        <!--                                </tbody>-->
        <!--                            </table>-->
        <!--                        </div>-->
        <!--                    </div>-->
        <!--                </div>-->

        <!-- Extension Functions Section -->
        <div class="card l-box library-category">
            <div class="card-content">
                <h3 class="content-subhead">Extension Functions</h3>
                <div class="category-list">
                    <table class="highlight responsive-table">
                        <tbody>
                        <tr th:each="documentedFunction : ${onExtensionDocs}">
                            <td>
                                <a function:onlink="${documentedFunction}"
                                   function:signature="${documentedFunction.itemBeingDocumented()}" class="monospace">-</a>
                            </td>
                            <td th:text="${descriptionFormatter.getShortPlainDescription(documentedFunction.innerDoc(), 200)}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- Function Definitions -->
    <div class="row function-definitions">
        <div class="col s12">
            <div th:each="documentedFunction : ${functionDocs}">
                <div th:replace="~{templates/fragments/function_card :: functionCard(${documentedFunction})}"></div>
            </div>
        </div>
    </div>

</div>

<!-- Footer -->
<div th:replace="~{templates/fragments/footer :: footer}"></div>

<!-- Materialize JS -->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js" crossorigin="anonymous"></script>-->
<script src="https://cdn.jsdelivr.net/npm/flexsearch@0.7.31/dist/flexsearch.bundle.min.js"></script>
<script src="/scripts/search.js"></script>

<script th:inline="javascript">
    document.addEventListener("DOMContentLoaded", function () {
        initializeData(/*[[${searchIndexPath}]]*/ '');
    });
</script>

</body>
</html>
