@font-face {
    src: url('/output/fonts/DejaVuSerif.ttf') format('truetype');
    src: url('/fonts/DejaVuSansMono.ttf') format('truetype');
    src: url('/fonts/DejaVuSans.ttf') format('truetype');
}

:root {
    --primary-font-family: 'DejaVu Serif', Georgia, "Times New Roman", Times, serif;
    --mono-font-family: 'DejaVu Sans Mono', monospace;
    --sans-font-family: 'DejaVu Sans';
    --function-padding: 0.5em;
}

body {
    background: #f8f8f8;
}

span, p, a, td, th, h1, h2, h3, h4, h5, h6 {
    font-family: var(--primary-font-family), serif;
}

.code {
    font-family: var(--mono-font-family), monospace;
}

p {
    color: #474747;
    line-height: 1.4;
}

.header {
    border-bottom: gray;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

.pure-menu-link {
    padding: 1em .7em;
}

.content-container {
    justify-content: center;
}

.library-title {
    margin-bottom: 0.25em;
}

.library-version {
    opacity: 0.8;
    margin-left: 0.5em;
}

.page-description {
    margin-top: 2em;
    margin-bottom: 1em;
}

.library-description > p {
    margin-bottom: 0;
}

.library-sections {
    .category-column {
        padding: 0 2em;

        .library-category {
            margin-top: 3em;

            .content-subhead {
                margin-bottom: 1em;
            }

            .category-list {
                padding-left: 1em;

                td {
                    padding: 0.5em;
                }

                table {
                    width: 100%;
                    border-collapse: collapse;
                    border: thin solid #ddd;
                }

                tr:nth-child(odd) {
                    background-color: #f2f2f2;
                }
            }
        }
    }
}

//.constructor-definitions {
//    flex-direction: column;
//    width: 100%;
//}

.function-definitions, .constructor-definitions, .doc-overview {
    flex-direction: column;
    width: 100%;
    margin-top: 1em;
    
    & > h3 {
        margin-bottom: 0;
    }
}

.doc-overview {
    display: flex;

    .doc-overview-container {
        margin-top: 1em;

        td, th {
            padding: 0.5em;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            border: thin solid #ddd;
        }

        .left-column {
            min-width: 25%;
            width: 25%;
            white-space: nowrap;
            font-weight: 700;
            
            .from-extension {
                margin-left: 1em;
                font-size: 0.9em;
                color: #474747;

                &:hover {
                    color: #bb7a2a;
                }
            }
        }

        tr:nth-child(odd):not(.overview-header) {
            background-color: #f2f2f2;
        }

        .overview-header {
            background-color: #dee3e9;
            text-align: left;
        }
    }
}

.function-doc {
    width: 100%;
    background: white;
    margin-top: 1em;

    .from-extension {
        margin-left: 1em;
        font-size: 0.8em;
        color: #474747;

        &:hover {
            color: #bb7a2a;
        }
    }

    .function-signature {
        background: #dee3e9;
        padding: var(--function-padding);
        font-family: var(--sans-font-family), monospace;
        font-weight: 700;
        line-height: 1.5;

        .function-anchor {
            display: none;
            color: black;
            opacity: 0.5;
            padding-left: 0.25em;
            line-height: 1.5;
        }

        &:hover {
            .function-anchor {
                display: inline;

                &:hover {
                    opacity: 0.3;
                }
            }
        }
    }

    .function-innerdoc {
        padding: 0 var(--function-padding);

        .function-param-container {
            .param-name {
                /*font-weight: 700;*/
                font-family: var(--mono-font-family), monospace;
                padding-right: 0.25em;
            }

            .param-type {
                padding-right: 0.25em;
                font-size: 10pt;
                color: #bb7a2a;
            }

            .param-description::before {
                content: "-";
                padding-right: 0.5em;
                position: relative;
            }
        }

        .function-return-container {
            .return-type {
                padding-left: 0.25em;
                font-size: 10pt;
                color: #bb7a2a;
            }
        }
    }
}

.function-params, .function-return, .function-on, .function-error-title {
    font-weight: 700;
}

.footer {
    text-align: center;
    padding: 10px;
    background-color: #f1f1f1;
    width: 100%;
    bottom: 0;
    left: 0;
    border-top: 1px solid #ccc;
    margin-top: 2em;
    
    p {
        margin: 0;
        font-size: 0.9em;
        color: #333;
    }
}

a {
    line-height: 1.75;
    text-decoration: none;
    color: #2929b7;

    &:visited {
        color: #2929b7;
    }

    &:hover {
        color: #bb7a2a;
    }
}
